<div class="order-management">
  <h2>Order Management</h2>

  <div class="filters">
    <button (click)="filterOrders('All')">All</button>
    <button (click)="filterOrders('Shipped')">Shipped</button>
    <button (click)="filterOrders('Delivered')">Delivered</button>
  </div>

  <table>
    <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Email</th>
      <th>Products</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{ order.name }}</td> <!-- Customer Name -->
      <td>{{ order.email }}</td> <!-- Customer Email -->

      <!-- Products and Quantities -->
      <td>
        <ul class="no-bullets">
          <li *ngFor="let product of groupProducts(order)">
            {{ product.name }} ({{ product.quantity }})
          </li>
        </ul>
      </td>

      <td>{{ calculateTotalPrice(order) | currency:'PKR' }}</td> <!-- Total Price -->

      <td>{{ order.status }}</td>

      <td>
        <div class="action-buttons">
          <button #deliverButton (click)="updateStatus(order, 'Delivered', deliverButton, [deliverButton, shipButton])">
            Deliver
          </button>
          <button #shipButton (click)="updateStatus(order, 'Shipped', shipButton, [deliverButton, shipButton])" [disabled]="order.status === 'Delivered'">
            Ship
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
