.login-container {
  max-width: 400px; /* Set the maximum width of the form */
  width: 550px; /* Ensures responsiveness for smaller screens */
  margin-top: 20px ;

  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 10px); /* Adjusted width to account for padding or borders */
  padding: 10px 5px; /* Adjusted padding for balanced spacing inside the input */
  margin: 0 auto 15px; /* Centered input with equal left and right spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  outline: none;
}

div {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
p{
  color: #444;
}
small {
  display: block;
}

button {
  background-color: #3498db;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%; /* Ensures button matches the form's width */
}
.log{
  background-color: #0cbd48;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 50%;
}
button:disabled {
  background-color: #6084a5;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #2980b9;
  transform: scale(1.02);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(to right, #b6b6ec, #d1c4e9);
  box-sizing: border-box;
}

.login-container form {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }

  label {
    font-size: 14px;
  }

  input[type="email"],
  input[type="password"],
  button {
    font-size: 14px;
  }
}
