/* Container styling */
h2 {
  text-align: center;
  color: #A59D84; /* Primary Color */
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}

/* Table styling */
table {
  width: 80%;
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse;
  background-color: #ECEBDE; /* Light neutral background */
  font-family: Arial, sans-serif;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #C1BAA1; /* Secondary Color for borders */
}

th {
  background-color: #A59D84; /* Primary Color for header */
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #D7D3BF; /* Tertiary Color for alternate rows */
}

tr:hover {
  background-color: #C1BAA1; /* Secondary Hover Color */
  color: #fff;
  transition: background-color 0.3s ease;
}

/* No data message */
p {
  text-align: center;
  color: #555;
  font-style: italic;
  margin-top: 20px;
  font-size: 1em;
}

/* Responsive table */
@media screen and (max-width: 768px) {
  table {
    width: 100%;
    font-size: 12px;
  }

  th, td {
    padding: 5px;
  }
}
